# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Database files
*.db

# Other files
steam_review_scraper.py.lprof
profile_results.prof

*.lprof
*.prof
.vscode/
.git
.gitignore
readme.md
*.md